body{   
    background-color: lightgrey;
    background-image: url("../images/01-02-02_background-img.jpg");
}
p {
    font-weight: bold;   
}

p {
    text-align: center;
}


h2 {
    color: orangered;
}